@import 'reset';
@import 'variables';
@import 'typography';

html,
body {
  width : 100%;
  min-height : 100%;
  font-family: $sans;
  font-size: $font-base;
  background: $background;
  color: $body-color;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
  margin : 0;
  padding : 0;
}

html {
  box-sizing : border-box;
  background : transparent;
}

*, *:before, *:after {
  box-sizing : inherit;
}

// Components
@import 'layout';
@import 'styleguide';

@import 'button';
@import './forms/input-scaffold';
@import './forms/toggle-scaffold';
@import 'modal';
