.modal {
    display: none;

    &.modal--visible {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 98;
    }
}

.modal__children {
    position: relative;
    width: 100%;
    height: 100%;
    background: $white;
    // padding: 16px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 99;
}

.modal__overlay {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 97;
}

.modal__close {
    display: inline-block;
    width: 100%;
    height: 56px;
    padding: 16px;

    .icon {
        margin: 4px;
    }

    span {
        display: inline-block;
        font-size: 20px;
        color: $darkgray;
        font-weight: $medium;
        margin-left: 32px;
    }
}
